#controller {
	background: #a3a3a3;
	color: white;
	width: 100%;
	text-align: center;
	margin: 25px;
	#logo {
		width: 313px;
		background-image: url('/img/twerkout.gif');
		background-repeat: no-repeat;
		height: 63px;
		margin: 0px auto;
	}
	h1 {
		@include adjust-font-size-to(40px);
		font-weight: 600;
		color: #4A4A4A;

	}	
	h2 {
		color: #4A4A4A;
		@include adjust-font-size-to(30px);
		font-weight: 600;
		margin: 30px;
	}
}