#connectBanner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	border: 1px solid #fff;
	border-width: 0px 2px 2px 2px;
	width: 400px;
	height: 100px;
	@include background-image(linear-gradient(darken($gray, 5%) 30%, lighten(black, 15%)));
	color: white;
	@include border-radius(0px 0px 10px 10px);
	margin: 0px auto;
	padding: 0px 15px;
	text-align: center;
	h1 {
		@include adjust-font-size-to(20px);
		padding: 15px 15px 0px 15px;
		display: block;
		text-align: center;
		font-weight: 300;
	}
	h2 {
		@include adjust-font-size-to(40px);
		line-height: 1em;
		padding-top: 5px;
		text-transform: uppercase;
		font-weight: 400;

	}
	i {
		float: left;
		font-size: 100px;
	}
	u {
		text-decoration: none;
		display: inline;
	}
}

#song-selector {
	position: relative;
	height: 400px;
	margin-top: 150px;
	#current-song-container {
	border: 1px solid rgba(255,255,255,0.2);
		@include border-radius(5px);
		#current-song {
			width: 100%;
			position: absolute;
			padding: 10px 20px;
			z-index: 5;
			p {
				display: block;
				letter-spacing: 2px;
				color: white;
				@include adjust-font-size-to(20px);
				font-weight: 300;
				@include text-shadow(hsla(0,0,0,0.8) 3px 3px 7px);
				span {
				letter-spacing: 0px;
					font-weight: 400;
					font-style: normal;
					@include adjust-font-size-to(30px);
				}
			}
		}
		width: 70%;
		background-color: white;
		height: 400px;
		margin: 50px auto 0px;
		background-image: url('/img/stupid_hoe.jpg');
		@include background-size(cover);
		position: relative;
	 	&:before {
			@include border-radius(5px 5px 0px 0px);
	 		content: ' ';
	 		display: block;
	 		width: 100%;
	 		z-index: 1;
	 		height: 400px;
	 		position: absolute;
	 		top: 0;
	 		@include background-image(linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)));
	 	}
	}
	.arrow-right {
		width: 0; 
		right: 45px;
		top: 50%;
		margin-top: -60px;
		height: 0; 
		position: absolute;
		border-top: 60px solid transparent;
		border-bottom: 60px solid transparent;
		border-left: 60px solid white;
	}
	.arrow-right-2 {
		width: 0; 
		right: 50px;
		top: 50%;
		margin-top: -60px;
		height: 0; 
		position: absolute;
		border-top: 60px solid transparent;
		border-bottom: 60px solid transparent;
		border-left: 60px solid $black;
		z-index: 4;
	}

	.arrow-left {
		top: 50%;
		margin-top: -60px;
		left: 45px;
		position: absolute;
		width: 0; 
		height: 0; 
		border-top: 60px solid transparent;
		border-bottom: 60px solid transparent;
		
		border-right: 60px solid white;
	}

	.arrow-left-2 {
		top: 50%;
		margin-top: -60px;
		left: 50px;
		position: absolute;
		width: 0; 
		height: 0; 
		border-top: 60px solid transparent;
		border-bottom: 60px solid transparent;
		border-right: 60px solid $black;
	}

}




#button {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    cursor: pointer;
    top: -5px;
    position: relative;
    @include background-image(linear-gradient(bottom, rgba($gray,1) 0%, rgba(255,255,255,.2) 57%));
    @include border-radius(150px);
    box-shadow: inset 0px 2px 0px #a8a8a8, 0px 2px 0px #2a2a2a, 0px 3px 0px #2a2a2a;
    @include transition(all .2s);
}
#button:active {
    top: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: inset 0px 2px 0px #a8a8a8;
}
#triangle {
    width: 0px;
    height: 0px;
    margin-left: 50%;
    margin-top: 50%;
    left: -27px;
    top: -50px;
    position: relative;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 80px solid #22a9db;
    z-index: 2;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
#button:hover #triangle { border-left: 80px solid #45bde9 }
#button:active #triangle { border-left: 80px solid #e94545 }
#lighter_triangle {
    width: 0px;
    height: 0px;
    margin-left: 50%;
    margin-top: 50%;
    left: -27px;
    top: -48px;
    position: absolute;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 80px solid #43c0ee;
    z-index: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
#button:hover #lighter_triangle { border-left: 80px solid #8bdaf7 }
#button:active #lighter_triangle { border-left: 80px solid #f78b8b }
#darker_triangle {
    width: 0px;
    height: 0px;
    margin-left: 50%;
    margin-top: 50%;
    left: -28px;
    top: -53px;
    position: absolute;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 80px solid #0a7da7;
    z-index: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
#button:hover #darker_triangle { border-left: 80px solid #1d98c5 }
#button:active #darker_triangle { border-left: 80px solid #c51d1d }