@import "compass";
@import "compass/css3";
@import "compass/reset";
@import "_clearfix";

@import "_colors";
@import "_intro";
@import "_player";
@import "_timeline";

@import "../font-awesome/scss/font-awesome";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);


body {
	font-family: 'Open Sans', sans-serif;
	background-color: $black;
}

* {
	@include box-sizing(border-box);
}

#twerkoutPlayer {
	width: 100% !important;
	height: 100% !important;
}
#youtube-video {
	z-index: -300;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#controller {
	background: black;
	color: white;
	width: 100%;
	text-align: center;
	h1 {
		@include adjust-font-size-to(60px);
		font-weight: 600;

	}	
	h2 {
		@include adjust-font-size-to(100px);
		font-weight: 600;
		margin: 30px;
	}
}

// #room {
// 	position: absolute;
// 	left: 0;
// 	right: 0;
// 	top: 0;
// 	height: 100px; 
// 	color: white;
// 	text-shadow: 3px 3px 3px grey;
// 	margin: 30px;
// 	@include adjust-font-size-to(60px);
// }



.hide {
	display: none;
}