<html>
<head>
<title>twerkOut</title>
<link rel="stylesheet" type="text/css" href="/css/screen.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>


<!-- gauges -->
<script src="/js/gauge.min.js"></script>


<!-- angulayrs -->
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/controllers.js"></script>
<script type="text/javascript" src="/js/services.js"></script>
<script type="text/javascript" src="/js/directives.js"></script>

</head>
<body ng-app="app" ng-controller="AppCtrl" id="app">
	<h1 id="room"></h1>
	<div id="youtube-video"> 
	  <div id="ytapiplayer">
	    You need Flash player 8+ and JavaScript enabled to view this video.
	  </div>

	  <script type="text/javascript">
	    var params = { allowScriptAccess: "always" };
	    var atts = { id: "twerkoutPlayer" };
	    swfobject.embedSWF("https://www.youtube.com/apiplayer?video_id=pn1VGytzXus&version=3&enablejsapi=1&playerapiid=myytflashplayer",
	                       "ytapiplayer", "425", "356", "8", null, null, params, atts);

		function onYouTubePlayerReady(playerId) {
			var ytplayer = document.getElementById("twerkoutPlayer");
			 ytplayer.addEventListener("onStateChange", "onytplayerStateChange");
		    angular.element(document.getElementById('app')).scope().$apply(function(scope){
		        scope.startGame(ytplayer);
		    });
		}
		function onytplayerStateChange(newState) {
		   var ytplayer = document.getElementById("twerkoutPlayer");
		   if(newState == 0) {
		    angular.element(document.getElementById('app')).scope().$apply(function(scope){
		        scope.endGame(ytplayer);
		    });
		   }
		}

	  </script>
	</div>


	<ul id="scoreboard" class="cf">
		<li ng-repeat="player in players">
<!-- 			<div id="gauge{{$index + 1}}" class="200x160px" gauge acc="{{player.acc}}"></div> -->
			<h1 class="name"> Player {{ $index + 1 }} </h1>
			<h2 class="score">{{ player.score }}</h2>
		</li>
	</ul>

</body>
</html>