@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
/* line 17, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 11, ../sass/clearfix.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 16, ../sass/clearfix.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 24, ../sass/clearfix.scss */
.cf {
  *zoom: 1;
}

/* line 9, ../sass/screen.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 13, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/screen.scss */
#twerkoutPlayer {
  width: 100% !important;
  height: 100% !important;
}

/* line 22, ../sass/screen.scss */
#scoreboard {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 27, ../sass/screen.scss */
#scoreboard li {
  text-align: center;
  float: left;
  width: 200px;
  height: 175px;
  -webkit-transform: skewY(-2deg);
  border-radius: 4px;
  box-shadow: 2px 2px 50px;
  margin: 30px;
  background: rgba(255, 255, 255, 0.7);
}
/* line 29, ../sass/screen.scss */
#scoreboard li h1 {
  font-size: 2.25em;
  line-height: 1.33333em;
  font-weight: 600;
  width: 100%;
  padding-top: 10px;
}
/* line 35, ../sass/screen.scss */
#scoreboard li h2 {
  font-size: 3em;
  line-height: 1.5em;
  line-height: 1em;
  font-weight: 300;
  width: 100%;
  padding-top: 20px;
}

/* line 54, ../sass/screen.scss */
#controller {
  background: black;
  color: white;
  width: 100%;
  text-align: center;
}
/* line 59, ../sass/screen.scss */
#controller h1 {
  font-size: 3.75em;
  line-height: 1.2em;
  font-weight: 600;
}
/* line 64, ../sass/screen.scss */
#controller h2 {
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: 600;
}

/* line 70, ../sass/screen.scss */
#room {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  color: white;
  text-shadow: 3px 3px 3px grey;
  margin: 30px;
  font-size: 3.75em;
  line-height: 1.2em;
}

/* line 83, ../sass/screen.scss */
#number {
  font-size: 3.75em;
  line-height: 1.2em;
}
